<h1> ScandiCrush Manifesto
</h1>
<div class="container-fluid">

<div class="container">
  <div class="row">
    <div class="col-xs-12 ">
      <div class="quote">
       <blockquote>
        <br>
        </br>ScandiCrush flourished from the idea of bringing emerging designers and brands well-positionned in the North on to international scene at the heart of the fashion industry, in Paris. For the past year two ephemeral exhibitions have taken place during Paris Fashion Week presenting designers, brands and artists from Denmark, Norway and Sweden towards wholesale buyers and press.  With the success of the inspirational and aspirational environment that goes with it, ScandiCrush has grown to be an ephemeral curation for physical retailers as well. By handpicking Scandinavian brands matching the positioning and the strategy of the client, we bring a new experience to you as a store, gallery or showcaser. </br>

        <br>
        ScandiCrush is the melting pot of strong brands with personnality, leaving the stamp of minimalism behind, somewhere on the North Pole, perhaps. High quality and simplicity is still at the heart of ScandiCrush, complemented with audaciousness and colour. ScandiCrush's founder is half Norwegian half French, hence the vision of bringing northern players to central locations and building new bridges across country borders. </br>

        <br>
        If you are a store, tradeshow or gallery interested in working with ScandiCrush, feel free to contact us through the contactform. </br>
        <br>
        </br>

      </blockquote>
    </div>
  </div>
</div>
</div>



