


<div class="container-fluid">
  <div class="container">
    <div class="gallery-video">
        <%= cl_video_tag("ScandiCrush", :width=>700, :crop=>"scale",
         :background => "pink",
          :preload => "metadata", :controls => true,
          :fallback_content => "Your browser does not support HTML5 video tags" )  %>



    </div>
  </div>
</div>

