

<div class="container">
  <div class="gallery">
   <% @album.photos.each do |photo| %>
   <!---           <div class="item active"> -->
    <div class="gallery-img">
      <%= cl_image_tag photo.photo.path do %>
      <%=link_to cl_image_tag photo.photo.path, :popup=>['original_image', 'height=700,width=900'] %>
        <% end %>
    </div>
    <% end %>
  </div>
</div>



